* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width:100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: slateblue;
}

div.container {
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
    padding: 15px 2%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.div.container h1 {
    font-size: 22px;
    color: rgb(60,60,60);
    font-weight: 100%;
    text-align: center;
}
h1 {
    margin: 10px;
}
div.container h1{
    font-size: 22px;
    color: rgb(60,60,60);
    font-weight: lighter;
    width: 100%;
    text-align: center;
}

div.container input{
    width: 100%;
    max-width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    outline: 0;
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    color: rgb(80,80,80);
}

div.container input:focus{
    border: 1px solid slateblue;
}

div.container input::-webkit-inner-spin-button{
    display: none;
}

div.tabuada{
    width: 100%;
    text-align: center;
    color: rgb(80,80,80);
    font-size: 16px;
    line-height: 32px;
    margin: 15px 0;
}

div.container button{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    background-color: slateblue;
    color: white;
    cursor: pointer;
    margin: 10px;
}
div.imagem_x1_0 img{
    border-radius: 10px;
}

button.botaox1 {
    padding:  5px;
    background-color: greenyellow;
    padding: 20px 40px;
    border-radius: 5px white   ;
    font-size: 20px;

}


   div.container2 {
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
    padding: 15px 2%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.div.container2 h1 {
    font-size: 22px;
    color: rgb(60,60,60);
    font-weight: 100%;
    text-align: center;
}
h1 {
    margin: 10px;
}
div.container2 h1{
    font-size: 22px;
    color: rgb(60,60,60);
    font-weight: lighter;
    width: 100%;
    text-align: center;
}

div.container2 input{
    width: 100%;
    max-width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    outline: 0;
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    color: rgb(80,80,80);
}

div.container2 input:focus{
    border: 1px solid slateblue;
}

div.container2 input::-webkit-inner-spin-button{
    display: none;
}

div.tabuada{
    width: 100%;
    text-align: center;
    color: rgb(80,80,80);
    font-size: 16px;
    line-height: 32px;
    margin: 15px 0;
}

div.container2 button{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(226, 183, 39);
    color: white;
    cursor: pointer;
    margin: 10px;
}

